.App {
  text-align: left;
}

.App .single-container {
  display: flex;
}

.App .single-container .checkbox-container {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
}